body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

html {
    padding: 30px;
}

.header-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.image-container {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    max-height: 500px;
}

.logo-container {
    position: absolute;
    font-size: 400%;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-family: Century Gothic;
    font-size: large;
}

#search-color
{
    border-radius: 10px;
    font-family: Century Gothic;
    font-size: large;
}

#results-image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.results-image {
    width: 360px;
    height: 360px;
    object-fit: cover;
}

#page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: rgb(38, 42, 46);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:disabled {
    background-color: rgb(187, 187, 187);
}

/* Gör ingenting?*/
/* button:active {
    background-color: rgb(139, 213, 216);
} */

button:hover:not(:disabled) {
    background-color: rgb(139, 213, 216);
}

footer {
    padding: 30px;
    text-align: center;
}